* {
    box-sizing: border-box;
    padding-left: 0;
    margin: 0;
}

body {
    font-family: Colfax, Helvetica, Arial, sans-serif;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    width: 0;
    transition: width 500ms ease-in;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #c95f80;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
}


.main-header__brand a {
    text-decoration: none;
    color: white;
    font-size: 33px;
}

.main-nav__item {
    list-style: none;
    display: flex;
}

.main-nav__items {
    margin: 0 10px;
    font-size: 22px;
}

.main-nav__items a {
    color: #fddce6;
    text-decoration: none;
}

.main-nav__items a:hover,
.main-nav__items a:active {
    color: white;
}

.main-header__cta {
    background: #c46d6d;
    color: white;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    border-radius: 8px;
}

.main-header__cta:hover,
.main-header__cta:active {
    background: #dea1a1;
}

.toggle-menu {
    display: none;
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 20;
    cursor: pointer;
}

.toggle-menu__item {
    font-size: 22px;
    font-weight: bold;
}

@media(max-width: 45.625rem) {
    .main-nav {
        display: none;
    }

    .main-header {
        justify-content: start;
        padding-left: 20px;
    }

    .main-header__cta {
        display: none;
    }

    .toggle-menu {
        display: block;
    }
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    z-index: 100;
    background: #c75e7f;
    width: 0;
    height: 100vh;
    transition: width 0.7s ease-out;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-nav-items  {
    list-style: none;
    padding-top :20px;
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.mobile-nav-items a {
    text-decoration: none;
}

.mobile-nav__cta {
    background: #c46d6d;
    color: white;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    border-radius: 8px;
}

.mobile-nav__cta:hover,
.mobile-nav__cta:active {
    background: #dea1a1;
}

.open-mobile-nav {
    width: 60%;
}

.open-backdrop {
    width: 100vw;
}

.main-footer {
    grid-area: footer;
    background: #f4f4f4;
    display: grid;
    width: 100%;
    padding: 20px 0;
    grid-row-gap: 20px;
    /*justify-items: center;*/
    justify-content: center;
}

.main-footer__items--description {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #c75e7f;
    cursor: context-menu;
}

.main-footer__items {
    list-style: none;
    font-size: 18px;
    padding: 5px 0;
}

.main-footer__items a {
    text-decoration: none;
    /*font-weight: 550;*/
    color: #f388a6;
}

@media (min-width: 37.5rem) {
    .main-footer {
        grid-template-columns: repeat(4, auto);
        justify-content: unset;
        justify-items: center;
    }
}

@media(max-width: 45.625rem) {
    .main-footer__items {
        font-size: 14px;
    }


}